.box {
  font-size: 0.133333rem;
  text-align: center;
  height: 310px;
  box-sizing: border-box;
}
.box img {
  cursor: pointer;
  margin-left: 15px;
}
.box .box_hd {
  font-size: 0.116667rem;
  color: #606266;
}
.box .box_hd div {
  display: flex;
  align-items: center;
}
.box .box_hd p {
  font-family: PingFangSC-Medium, PingFang SC;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: #191919;
  margin-right: 0.133333rem;
  line-height: 28px;
}
.box .box_hd i {
  color: #1989FA;
  border-bottom: 1px solid #1989FA;
}
.box .box_hd span {
  cursor: pointer;
}
.box .inpBox {
  border-radius: 4px;
  border: 1px solid #C0C4CC;
  border-bottom: none;
  margin: 0.333333rem 0 0.266667rem;
  overflow: hidden;
}
.box .inpBox .inpBox_con {
  height: 0.433333rem;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #C0C4CC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.box .inpBox .inpBox_con input {
  flex: 1;
}
.box .inpBox .inpBox_con span {
  cursor: pointer;
  padding-left: 16px;
  border-left: 1px solid #C0C4CC;
  color: #303133;
  margin-left: 15px;
}
.box .inpBox .inpBox_con div {
  padding-left: 16px;
  border-left: 1px solid #C0C4CC;
  color: #909399;
  margin-left: 15px;
  line-height: 22px;
}
.box .sign {
  cursor: pointer;
  height: 0.433333rem;
  line-height: 0.433333rem;
  color: #fff;
  background: #1989FA;
  border-radius: 4px;
  text-align: center;
}
.box .box_ft {
  margin-top: 0.2rem;
  font-size: 0.116667rem;
  color: #606266;
}
.box .box_ft i {
  color: #1989FA;
  cursor: pointer;
}
.box .box_ft div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.box .success {
  font-size: 18px;
  font-weight: 600;
  color: #191919;
  margin: 14px 0 24px;
}
.box .welcome i {
  color: #1989FA;
  border-bottom: 1px solid #1989FA;
  cursor: pointer;
}
.forgetBox {
  height: 130px;
}
